body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.box h2{
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-weight: 600
}
.box .inputbox{
    position: relative;
}

.box .inputbox input{
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;

}

.box .inputbox label{
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.box .inputbox input:focus~label ,
.box .inputbox input:valid~label{
    top: -18px;
    left: 0px;
    color: #03a9f4;
    font-size: 12px;
}
.box input[type="submit"]{
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    background-color: #03a9f4;
    padding: 10px 20px;
    border-radius: 5px;
}